* text=auto !eol
connector/pom.xml -text
connector/src/main/java/org/onehippo/forge/repository/connector/remoting/davex/DavExHippoRepository.java -text
connector/src/main/java/org/onehippo/forge/repository/connector/remoting/davex/DavExHippoRepositoryBasedHippoJcrRepositoryFactory.java -text
connector/src/main/java/org/onehippo/forge/repository/connector/remoting/davex/HippoJcrRepository.java -text
connector/src/main/java/org/onehippo/forge/repository/connector/remoting/davex/LazyHippoJcrRepository.java -text
/pom.xml -text
servlet/pom.xml -text
servlet/src/main/java/org/onehippo/forge/repository/server/remoting/davex/JcrRemotingServlet.java -text
src/site/site.xml -text
src/site/xdoc/cmd-examples.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/install.xml -text
src/site/xdoc/release-notes.xml -text
src/site/xdoc/remote-repository.xml -text
